$colour-brand-darkblue		:		#20294D;
$colour-brand-cyan			:		#29C1EF;
$colour-brand-darkcyan		:		#009AC9;

$colour-purple				:		#48029A;
$colour-teal				:		#2BCC95;

$colour-panelblue			:		#444D6F;
$colour-stripe-dark			:		#EFEFEF;
$colour-stripe-light		:		#F8F8F8;

$colour-utility-warning		:		#DD0000;
