@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;800&display=swap');

$main-font			: 'Encode Sans', sans-serif;

$base-font-size		: 16px;
$base-line-height	: 24px;

$font-extrabold		: 800;
$font-semibold		: 600;
$font-medium		: 500;
$font-regular		: 400;
