.content-panel, .shadow-panel {
	.small-title {
		font-size: 1.06rem;
		font-weight: $font-semibold;
		margin-bottom: $spacing*3;
	}
	
	.large-number {
		font-size: 3.75rem;
		line-height: 3.75rem;
	}
}

.content-panel-title {
	margin-bottom: $spacing*2;
	font-size: 1.38rem;
	font-weight: $font-semibold;
	color: $colour-brand-darkblue;
}

.content-panel {
	padding: $spacing*5;
	background-color: $colour-panelblue;
	position: relative;
	border-radius: 15px;
	z-index: 2;
	position: relative;
	
	&:before {
		content: "";
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		border: 1px #fff solid;
		border-radius: 11px;
		z-index: -1;
	}
	
	label, .small-title, .large-number {
		color: #fff;
	}
	
	address {
		font-size: 0.94rem;
		line-height: 1.44rem;
		font-weight: $font-regular;
		color: #fff;
	}
	
	.indicator {
		width: 65px;
		height: 65px;
		border: 3px #fff solid;
		font-size: 2rem;
		font-weight: $font-extrabold;
		
		a {
			color: #fff;
		}
	}

}

.shadow-panel {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border-radius: 15px;
	padding-bottom: 16px;
	overflow: hidden;
	
	&__main-title {
		margin-bottom: $spacing*5;	
	}
	
	&--padded {
		padding: $spacing*5;
	}
	
	label, .small-title, .large-number {
		color: $colour-brand-darkblue;
	}
}

.shadow-panel--dark {
	background-color: #444D6F;
}

.panel-padding {
	padding: $spacing*7;
}

.panel-column {
	.content-panel {
		margin-bottom: $spacing*2;
	}
}