.dashboard {
	margin-top: 12px;
	
	&__row {
		@include flexbox();
		margin-bottom: $spacing*2;
	}
	
	&__intro {
		flex-basis: 66.666666%;
		padding: $spacing*10 $spacing*5;
		margin-right: $spacing*2;
		position: relative;
		
		&__links ul {
			@include flexbox();
			
			a {
				margin-right: 24px;
			}
		}
		
		.settings-link {
			position: absolute;
			top: $spacing*2;
			right: $spacing*2;
			
			&__dropdown {
				display: none;
			}
		}
	}
	
	&__panel {
		flex-basis: calc(33.3333333% - 16px);
		margin-right: $spacing*2;
		padding-bottom: 100px;
		position: relative;
		
		header {
			background-color: $colour-brand-darkblue;
			color: #fff;
			text-align: center;
			padding: 20px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			text-align: center;
			font-size: 1.25rem;
			margin-bottom: 10px;
		}
		
		&__cta {
			position: absolute;
			left: $spacing*3;
			bottom: $spacing*3;
			right: $spacing*3;
			
			.button {
				display: block;
			}
		}	
	
		.stripe-table {
			tr {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}