.cpYearNavigation,.cpMonthNavigation {
	background-color:#c0c0c0;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	color:#000;
	font-weight:bold;
}
.cpDayColumnHeader, .cpYearNavigation,.cpMonthNavigation,.cpCurrentMonthDate,.cpCurrentMonthDateDisabled,.cpOtherMonthDate,.cpOtherMonthDateDisabled,.cpCurrentDate,.cpCurrentDateDisabled,.cpTodayText,.cpTodayTextDisabled,.cpText {
	font: 8pt Arial;
}
td.cpDayColumnHeader {
	text-align:right;
	border: solid thin #c0c0c0;
	border-width:0 0 1px 0;
}
.cpCurrentMonthDate, .cpOtherMonthDate, .cpCurrentDate {
	text-align:right;
	text-decoration:none;
}
.cpCurrentMonthDateDisabled, .cpOtherMonthDateDisabled, .cpCurrentDateDisabled {
	color:#d0d0d0;
	text-align:right;
	text-decoration:line-through;
}
.cpCurrentMonthDate, .cpCurrentDate {
	color:#000000;
}
.cpOtherMonthDate {
	color:#808080;
}
td.cpCurrentDate {
	color:white;
	background-color: #c0c0c0;
	border-width:1px;
	border:solid thin #800000;
}
td.cpCurrentDateDisabled {
	border-width:1px;
	border:solid thin #ffaaaa;
}
td.cpTodayText, td.cpTodayTextDisabled {
	border:solid thin #c0c0c0;
	border-width:1px 0 0 0;
}
a.cpTodayText, span.cpTodayTextDisabled {
	height:20px;
}
a.cpTodayText {
	color:#000;
}
.cpTodayTextDisabled {
	color:#d0d0d0;
}
.cpBorder {
	border:solid thin #808080;
}